<div class="card">
    <div class="card-body">
        <h5 class="card-title">Formularios basados en plantillas</h5>
        <div class="card-text mb-3">
            Los formularios basados en plantillas HTML tienen la mayor parte de la lógica en la plantilla, dicha lógica
            se maneja a través de validaciones, directivas y enlace de datos dentro de la plantilla (utilizan el
            FormsModule).
        </div>

        <div class="card mb-3">
            <div class="car-body">
                <div class="p-3">
                    <form (ngSubmit)="enviarFormulario(formulario)" #formulario="ngForm">
                        <div class="mb-2">
                            <label class="form-label">Nombre</label>
                            <input type="text" name="nombre" [(ngModel)]="persona.nombre" #nombre="ngModel" required
                                class="form-control" placeholder="Por favor ingrese un nombre">
                            <div [hidden]="nombre.valid || nombre.pristine" class="alert alert-danger p-2 mt-2">
                                El nombre es obligatorio
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Edad</label>
                            <input type="number" name="edad" [(ngModel)]="persona.edad" #edad="ngModel" required
                                placeholder="Por favor ingrese la edad" class="form-control">
                            <div [hidden]="edad.valid || edad.pristine" class="alert alert-danger p-2 mt-2">
                                La edad es obligatoria
                            </div>
                        </div>
                        <input [disabled]="formulario.invalid" type="submit" value="Enviar" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>

        <div>Persona:</div>
        <div><span class="badge bg-secondary me-1">{{persona | json}} </span></div>
        <div>Errores campo nombre:</div>
        <div>
            <span class="badge bg-secondary me-1">{{nombre.errors| json}}</span>
            <span class="badge bg-secondary me-1">valid:{{nombre.valid}}</span>
        </div>
        <div>Clases campo nombre:</div>
        <div>
            <span class="badge bg-secondary me-1">pristine:{{nombre.pristine}}</span>
            <span class="badge bg-secondary me-1">untouched:{{nombre.untouched}}</span>
            <span class="badge bg-secondary me-1">dirty:{{nombre.dirty}}</span>
        </div>
        <div>Estado del formulario:</div>
        <div>
            <span class="badge bg-secondary me-1">invalid:{{formulario.invalid}}</span>
        </div>
    </div>
</div>