<div class="card">
    <div class="card-body">
        <h5 class="card-title">Lazy Load</h5>
        <p class="card-text">
            La carga diferida (Lazy Load) en Angular se refiere a la técnica de cargar componentes, módulos u otros
            activos de un sitio web según sea necesario. Este enfoque ayuda a mantener los tamaños de los paquetes
            iniciales más pequeños, lo que a su vez ayuda a reducir los tiempos de carga. Es recomendable realizar una
            carga diferida de todos o al menos la mayoría de los módulos siempre que una aplicación consta de muchos
            módulos.
        </p>
        <div><strong>Componente cargado en demanda.</strong></div>
    </div>
</div>