<div class="card">
    <div class="car-body">
        <div class="p-3">
            <h5 class="card-title">Componente de recepción 1</h5>
            <div class="card-text">
                <span class="badge bg-secondary overflow-ellipsis" *ngIf="getMessages().length == 0">
                    En espera de mensaje del componente emisor...
                </span>
                <span class="badge bg-primary me-1" *ngFor="let mensaje of getMessages(); let i = index">
                    {{mensaje}} <i class="fa fa-times ms-1 cursor-pointer" (click)="deleteMessage(i)"></i>
                </span>
            </div>
        </div>
    </div>
</div>