<div class="container-fluid pt-auto pb-auto">
    <div class="row">
        <div class="col-md-4 pb-auto">
            <app-directivas-basicas></app-directivas-basicas>
            <br>
            <app-manejo-de-clases-css></app-manejo-de-clases-css>
        </div>
        <div class="col-md-4 pb-auto">
            <app-directivas-personalizadas></app-directivas-personalizadas>
        </div>
        <div class="col-md-4 pb-auto">
            <app-pipes-personalizadas></app-pipes-personalizadas>
        </div>
        <div class="col-md-4 pb-auto">
            <app-formularios-basados-en-plantillas></app-formularios-basados-en-plantillas>
        </div>
        <div class="col-md-4 pb-auto">
            <app-formularios-reactivos></app-formularios-reactivos>
        </div>
        <div class="col-md-4 pb-auto">
            <app-formularios-reactivos-con-form-builder></app-formularios-reactivos-con-form-builder>
        </div>
        <div class="col-md-4 pb-auto">
            <app-parent></app-parent>
        </div>
        <div class="col-md-4 pb-auto">
            <app-envio></app-envio>
            <br>
            <app-recepcion1></app-recepcion1>
            <br>
            <app-recepcion2></app-recepcion2>
        </div>
        <div class="col-md-4 pb-auto">
            <app-view-child-example></app-view-child-example>
        </div>
    </div>
</div>