<div class="row justify-content-md-center align-items-center hight500">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <img src="../../../assets/images/pagenotfound.png" class="w100 pt-4">
                <h2 class="card-title pt-4 pb-4">Page not found!</h2>
                <div>
                    <a href="#" class="btn btn-primary mb-4" routerLink="">Go home!</a>
                </div>
            </div>
        </div>
    </div>
</div>